@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
height: 100vh;
  background-color: rgb(255, 173, 173);  
  font-weight: bold;
  color: rgb(44, 0, 0);
  font-family: 'Roboto';
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
    position: fixed;
    visibility: hidden;
}